<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Lista de Comentarios</h1>

        {% for comentario in comentario %}
            <div>
                <h2>Contenido del comentario:</h2>
                <p>{{ comentario.contenido }}</p>

                <h2>Fecha del comentario:</h2>
                <p>{{ comentario.fecha_comentario }}</p>

                <h2>Autor del comentario:</h2>
                <p>{{ comentario.autor.nombre }}</p>

                <h2>Tarea asociada:</h2>
                <p>{{ comentario.tarea.titulo }}</p>
            </div>
        {% endfor %}
        
    </body>
</html>
